@{
    ViewData["Title"] = "Bookings";
}
@model List<HotelBooking>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Ime Gosta</th>
            <th>Dodijeljena soba</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>
                    @booking.Id
                </td>
                <td>
                    @booking.GuestName    
                </td>
                <td>
                    @booking.RoomNumber
                </td>
            </tr>
        }
    </tbody>
</table>




